<script> 
js.src = "https://connect.facebook.net/en_US/sdk.js";

$window.fbAsyncInit = function() {
    FB.init({
      appId      : '1488120798244255',
      cookie     : true,                     // Enable cookies to allow the server to access the session.
      xfbml      : true,                     // Parse social plugins on this webpage.
      version    : 'v2.4',           // Use this Graph API version for this call.
      status     : true
    });

    app.factory('facebookService', function($q) {
    return {
        getMyLastName: function() {
            var deferred = $q.defer();
            FB.api('/me', {
                fields: 'last_name'
            }, function(response) {
                if (!response || response.error) {
                    deferred.reject('Error occured');
                } else {
                    deferred.resolve(response);
                }
            });
            return deferred.promise;
        }
    }
    $scope.getMyLastName = function() {
   facebookService.getMyLastName() 
     .then(function(response) {
       $scope.last_name = response.last_name;
     }
    );
    };
});}


</script>

<div class="header">       
    <img src="https://commons.wikimedia.org/wiki/Category:Logos_of_companies#/media/File:Alliantgroup_logo.png" 
    alt="companylogo" style="width:100px; height:100px; margin-left:auto; margin-right:auto;">
</div>
<div                   
    class="panel">
    <h4>SIGN UP</h4>
    <br><br>
    <p class="one">Create your account</p>
    Blandit cum nulla montes feugiat elit risus convallis vel mus.
    <br>
    <div                
        class="fb-login-button" 
        data-size="large" 
        data-button-type="continue_with" 
        data-layout="default" 
        data-auto-logout-link="false" 
        data-use-continue-as="false" 
        data-width=""></div>
    <br>
    <div class="container">         
        <a href="#" class="google btn">
          <i class="google-login-btn"></i> Sign up with Google  
        </a>
        <a href="#" class="fb btn">
          <i class="fb-login-btn"></i> Sign up with Facebook
        </a>
    </div>
    <div>                       
        <hr class="line left">
        or
        <hr class="line right">
    </div>
    <form class="form">        
        <input type="text" placeholder="First Name" class="textbox"/>
        <input type="text" placeholder="Last Name" class="textbox"/>
        <input type="text" placeholder="Email Address" class="textbox"/>
        <input type="text" placeholder="Password" class="textbox"/>
    </form>
    By clicking Sign Up, you agree to our <a href="url">Terms of Use</a> and our <a href="url">Privacy Policy</a>
    <br><p><button type="button" class="block">SIGN UP</button></p>
</div>